@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

/* Global ---------------------------------------------------------------------- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho // Navegação ---------------------------------------------------------------------- */

#cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(30deg, );
}

#logo {
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    margin: 40px 0px 20px 40px;
}

#navbar {
    position: absolute;
    top: 40px;
    right: 20px;
}

#list-navbar {
    display: flex;
    align-items: center;

    padding: 10px;
    list-style: none;
    color: #fff;
}

#list-navbar li {
    padding: 10px;
    font-weight: bold;
}

#list-navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

/* Body Page ---------------------------------------------------------------------- */

body {
    width: 100vw;
    height: 100vh;
    background: #fff url(../image/1.png) no-repeat ;
    background-size: contain;
    overflow-x: hidden;
}

/*#conteudo-view-n1 {
    
    margin-top: -13.8%;
}*/

#container-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    max-width: 600px;
    color: #fff;
}

#container-welcome h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.container-txt {
    margin-top: 5%;
}

.container-txt h1 {
    margin: 20px;
}

#btn-produtos {
    border: none;
    background: none;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 7%;
    margin-left: 42%;
    display: block;
    color: #fff;
    cursor: pointer;
}

/* ---- Animation Of Page. ---- */

#seta > div {
    animation: move 3.5s infinite ease-in-out;
    box-shadow: 2px -2px 0 1px #fff inset;
    border: 1px solid #fff;
    padding: 16px;
    border-radius: 5%;
    border-width: 0 0 0px 0px;
    transform: rotate(-45deg);
    position: absolute;
    top: 75%;
    left: 50%;
}

@keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 50px;
    }

    100% {
        margin-top: 0px;
    }
}

/* Produtos ..view N° 2 ---------------------------------------------------------------------- */

#conteudo-view-n2 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 30% auto 10% auto;
    
}

.prateleira-n1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.prateleira-n2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.produto {
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: -20% 2%;
    background-color: #3a77fa;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000ab;
}

.produto img, .produto-2 img {
    margin: 0% auto;
    display: block;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    padding: 10px;
    box-shadow: 10px 5px 12px rgba(255, 255, 255, 0.295);
}

.produto-2 {
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 15% 2%;
    background-color: #3a77fa;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000ab;
}

.produto img:hover {
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: .5s;
}

.spans {
    display: block;
    text-decoration: underline;
    text-align: center;
    margin: 10% 0% 0% 0%;
    color: #fff;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

a .buy  {
    display: block;
    text-align: center;
    margin: 5% 0% 0% 0%;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}


a .buy:hover {
    background-color: #00af00;
    padding: 0;
    border-radius: 20px;
    width: auto;
    transition: .5s;
}

/* Responsividade. ---------------------------------------------------------------------- */

/*@media screen and (min-width: 320px) {
    body {
        width: 100vw;
        height: 100vh;
        background: #fff url(../image/1.png) no-repeat center center;
        background-size: cover;
    }
}*/