@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

/* Global ---------------------------------------------------------------------- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho // Navegação ---------------------------------------------------------------------- */

#cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    margin: 30px 0px 20px 30px;
}


#logo a {
    text-decoration: none;
    color: #fff;
}


#list-navbar {
    display: flex;
    align-items: center;

    padding: 10px;
    list-style: none;
    color: #fff;
}

#list-navbar li {
    padding: 10px;
    font-weight: bold;
}

#list-navbar li:hover {
    background-color: #0026ff;
    border-radius: 20px;
    padding: 10px;
    transition: .5s;
}


#list-navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
}

#perfil {
    width: 60px;
    margin-right: 80px;
    margin-top: 20px;
    border-radius: 100%;
    border: 1px solid #fff ;
    padding: -60px;
    background-color: #000000
}

#perfil:hover {
    background-color: #30303080;
}

/* Body Page ---------------------------------------------------------------------- */

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top,#0026ff, #010107) no-repeat;
    overflow-x: hidden;
}

main {
    width: 380px;
    height: 100%;
    margin: auto;
}

#foto-perfil {
    width: 250px;
    border-radius: 1000%;
    display: block;
    margin: auto;
}

#titulo {
    text-align: center;
    color: #fff;
    margin: 30px auto 20px auto;
    font-style: italic;
    font-size: 40px;
}

.identificador-input {
    text-align: left;
    margin-left: 10%;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: italic;
    text-decoration: underline;
}

#btn-menu {
    display: none;
}

.box div {
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
}

#sign-out {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    font-weight: bold;
    color: #064166;
}

#sign-out:hover {
    background-color: #000000;
    color: #fff;
    transition: .5s;
}


/* Footer Page. ---------------------------------------------------------------------- */

#rodape {
    background-color: blue;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

#whatsapp {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.by {
    color: #ffffffd5;
    font-weight: 100;
    margin-left: 1%;
    margin-top: 2%;
}


.redes {
    color: #ffffffd5;
    font-weight: 100;
    margin: 1%;
    margin-left: auto;
}

.fa-brands {
    color: #ffffffd5;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 15px;
}

/* Responsive. ---------------------------------------------------------------------- */


@media screen and (max-width: 750px) {
    #btn-menu {
        display: block;
        position: absolute;
        cursor: pointer;
        width: 0%;
        right: 15%;
        top: 20px;
        border: none;
        background: none;
        color: #fff;
        font-size: 35px;
        z-index: 2;
    }

    #navbar {
        display: none;
    }

    #navbar.active {
        display: block;
        background-color: #000000;
        padding: 10px;
        width: 100%;
        height: 120vh;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }

    #list-navbar {
        display: block;
        text-align: center;
        margin: 25% auto;
    }

    #list-navbar li {
        font-size: 30px;
    }

    #list-navbar li:hover {
        background-color: #0026ff;
        border-radius: 20px;
        padding: 10px;
        transition: .5s;
    }
}